<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MittClick</title>
    <link rel="stylesheet" href="~/BreakPoints.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MittClick.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
    @using System.Security.Claims
    @using System.Linq
    @using Microsoft.EntityFrameworkCore
    @inject MittClick.Models.MittClickDbContext dbContext

    @{
        var routeController = ViewContext.RouteData.Values["controller"].ToString();
        var routeAction = ViewContext.RouteData.Values["action"].ToString();
        var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        var unreadMessagesCount = dbContext.Messages.Count(m => m.ReceiverId == currentUserId && m.IsRead == false);
        var profileImage = dbContext.Profiles.Where(p => p.UserId == currentUserId).Select(p => p.ProfileImage).FirstOrDefault();
    }

    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Mitt Click</a>

            @if (!(routeController == "Home" && routeAction == "Index") && !(routeController == "Search" && routeAction == "Result") && !(routeController == "Profile" && routeAction == "Create"))
            {
                <form asp-controller="Search" asp-action="Result" method="get">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search" name="query">
                        <button class="btn btn-outline-primary my-3 my-sm-0" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                </form>
            }

            <div class="navbar-nav ml-auto">

                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Logga in</a>
                }
                else
                {
                    <a href="@Url.Action("Inbox", "Message")" class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-inbox" viewBox="0 0 16 16" class="my-auto">
                        <path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4zm9.954 5H10.45a2.5 2.5 0 0 1-4.9 0H1.066l.32 2.562a.5.5 0 0 0 .497.438h12.234a.5.5 0 0 0 .496-.438zM3.809 3.563A1.5 1.5 0 0 1 4.981 3h6.038a1.5 1.5 0 0 1 1.172.563l3.7 4.625a.5.5 0 0 1 .105.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374z" />

                        @if (unreadMessagesCount > 0)
                        {
                            <div class="position-absolute translate-middle badge rounded-pill bg-danger">
                                <span class="text-white">@unreadMessagesCount</span>
                            </div>
                        }
                    </svg>
                    </a>


                    <div class="nav-item dropdown align-content-center">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            @if (profileImage != null)
                            {
                                var imageBase64 = Convert.ToBase64String(profileImage);
                                var imageSrc = $"data:image/png;base64,{imageBase64}";
                                <img class="img rounded-circle" style="width: 3rem; aspect-ratio: 1/1; object-fit: cover;" src="@imageSrc" alt="Profile Image">
                            }
                            else
                            {
                                <img class="img rounded-circle" style="width: 3rem; aspect-ratio: 1/1; object-fit: cover;" src="~/lib/image/defaultprofileimg.jpg" alt="Default Profile Image">
                            }
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a href="@Url.Action("Profile", "Profile", new { userId = currentUserId })" class="dropdown-item" style="color: black; ">Min Profil</a>

                            <a asp-action="ChangePassword" asp-controller="Account" class="dropdown-item">Byt Lösenord</a>

                            <div class="dropdown-divider"></div>
                            <form method="post" asp-controller="Account" asp-action="Logout" class="text-center">
                                <button type="submit" class="btn btn-danger">Logga ut</button>
                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MittClick - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
