@model MittClick.Models.Profile

@{
    ViewData["Title"] = "Profile";
}

<a asp-action="EditProfile" asp-controller="Profile" class="btn btn-primary mt-3">Redigera profil</a>

<div class="container mt-4">
    <div class="row">

        <div class="col-md-4">
            <div class="card mb-3">
                @if (@Model.ProfileImg == null)
                {
                    <img class="img rounded-circle m-5" src="~/lib/image/defaultprofileimg.jpg" alt="Profile Image">
                }
                <!--  Den riktiga profilbilden  -->

                <div class="card-body">
                    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                    <p>@Model.UserName</p>
                    <p class="card-text">@Model.Information</p>
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Kontaktinfo</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Namn:</dt>
                        <dd class="col-sm-9">@Model.FirstName @Model.LastName</dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">------------</dd>

                        <dt class="col-sm-3">Tel:</dt>
                        <dd class="col-sm-9">------------</dd>

                        <dt class="col-sm-3">Adress:</dt>
                        <dd class="col-sm-9">------------</dd>

                        <!-- Vi kan loopa genom en lista med kontaktinfo sen för att slippa tomma fält -->

                    </dl>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="card-title">Projekt</h5>
                </div>
                <div class="card-body d-flex flex-wrap justify-content-center">

                    <div class="card m-2" style="width: 15rem;">
                        <img class="img mx-4" src="groupImg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Projekttitel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ratione magnam delectus! Est nam nihil libero neque esse delectus labore facilis doloremque, pariatur assumenda, perferendis vitae iste dicta debitis quaerat.</p>
                            <p class="card-text"><small class="text-muted">3 deltagare</small></p>
                            <div class="text-center">
                                <button class="btn btn-primary">Se projektdetaljer</button>
                            </div>
                        </div>
                    </div>

                    <div class="card m-2" style="width: 15rem;">
                        <img class="img mx-4" src="groupImg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Projekttitel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ratione magnam delectus! Est nam nihil libero neque esse delectus labore facilis doloremque, pariatur assumenda, perferendis vitae iste dicta debitis quaerat.</p>
                            <p class="card-text"><small class="text-muted">3 deltagare</small></p>
                            <div class="text-center">
                                <button class="btn btn-primary">Se projektdetaljer</button>
                            </div>
                        </div>
                    </div>

                    <div class="card m-2" style="width: 15rem;">
                        <img class="img mx-4" src="groupImg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Projekttitel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ratione magnam delectus! Est nam nihil libero neque esse delectus labore facilis doloremque, pariatur assumenda, perferendis vitae iste dicta debitis quaerat.</p>
                            <p class="card-text"><small class="text-muted">3 deltagare</small></p>
                            <div class="text-center">
                                <button class="btn btn-primary">Se projektdetaljer</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
