@model MittClick.Models.ViewModels.UpdateWorkExperienceViewModel
<!DOCTYPE html>
<html>
<head>
    <title>EditWorkExperience</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Redigera arbetserfarenheter</h4>
                    </div>

                    <div class="card-body">
                        <form asp-action="AddWorkExperience" asp-controller="Profile" method="post">
                        
                            <div class="form-floating mt-3">
                                <input asp-for="Workplace" class="form-control" placeholder="Arbetsgivare" required>
                                <label asp-for="Workplace" class="form-label">Arbetsgivare</label>
                            </div>
                            <div class="form-floating mt-3">
                                <input asp-for="Role" class="form-control" placeholder="Arbetsroll" required>
                                <label asp-for="Role" class="form-label">Arbetsroll</label>
                            </div>
                        
                        <div class="input-group mt-3">
                                <select asp-for="From" class="form-select" required>
                                    <option value="" selected>Från</option>
                                    @for (int year = DateTime.Now.Year; year >= 1900; year--)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>

                                <span class="input-group-text"> - </span>

                                <select asp-for="To" class="form-select">
                                    <option selected>Till</option>
                                    <option value="">Pågående</option>  <!-- Blir NULL i databasen eftersom value är tom-->
                                    @for (int year = DateTime.Now.Year; year >= 1900; year--)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                            </div>
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Lägg till</button>
                            </div>
						</form>
                        <ul class="list-group list-group-flush">
                            @foreach (var workExperience in Model.WorkExperiences)
                            {
                                <li class="list-group-item list-group-item">
                                    <div class="row">
                                        <div class="col">

                                            <p><strong>@workExperience.Workplace</strong></p>

                                        </div>
                                        <div class="col d-flex justify-content-end">

                                            @if (workExperience.To != 0)
                                            {
                                                <p>@workExperience.From - @workExperience.To</p>
                                            }
                                            else
                                            {
                                                <p>@workExperience.From - pågående</p>
                                            }

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">

                                            <p>@workExperience.Role</p>

                                        </div>
                                        <div class="col d-flex justify-content-end">

                                            <form asp-action="DeleteWorkExperience" asp-controller="Profile" method="post">
                                                @Html.HiddenFor(model => workExperience.Id)
                                                <input type="hidden" name="id" value="@workExperience.Id" />
                                                <button type="submit" class="btn btn-danger">Ta bort</button>
                                            </form>

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/WorkExp.js"></script>
</body>
</html>
